*{
    padding: 0;
    margin: 0;
}

p, #turnos{
    height: 1.5rem;
}

#texture
{
    background-image: url(../images/texture.gif);
}

#game
{
    background-color: rgba(255,255,255,0.6);
    width: 70%;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 15%;
}

header
{
    height: 5vh;
    text-align: center;
    width: 70%;
    background-color: rgba(255,255,255,0.6);
    position: relative;
    left: 15%;
}

select
{
    margin-top: 5em;
}

table{
    border-collapse: collapse;
}

tbody{
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

td{
    border: none;
    padding: 5px 0px;
    text-align: center;
    perspective: 700px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.theCard{
    overflow: visible;
    width: 70px;
    height: 110px;
    transform-style: preserve-3d;
    -webkit-transition: all 0.7s ease-in-out;
    -webkit-transform-style: preserve-3d;    /* Safari 4-8 */
    transition: all 0.7s ease-in-out;
}
    
.theFront, .theBack{
    width: 70px;
    height: 110px;
}

.theFront{
    background-image:url(../images/reverse.png);
    background-size: contain;
    backface-visibility: hidden;
}

.find1 .theBack
{
    -webkit-box-shadow: 0px 0px 1px rgba(68, 0, 102, 0.83);
    -moz-box-shadow: 0px 0px 1px rgba(68, 0, 102, 0.83);
    box-shadow: 0px 0px 9px 1px rgba(68, 0, 102, 0.83);
}

.find2 .theBack
{
    -webkit-box-shadow: 0px 0px 9px 1px rgb(0, 255, 90);   
    -moz-box-shadow: 0px 0px 9px 1px rgb(0, 255, 90);  
    box-shadow: 0px 0px 9px 1px rgb(0, 255, 90);
}

#msgBox,  #messageWinner
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}

#msgBox div, #messageWinner div
{
    position: absolute;
    padding: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
}

#messageWinner div
{
    width: 50%;
    height: 50%;
    background-size: cover;
    background-position: center;
    padding: 0;
}

#messageWinner button
{
    position: absolute;
    bottom: 4em;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0);
}

#pWinner
{
    font-size: 2.5em;
    text-align: center;
    filter: drop-shadow(0px 0px 2px black);
}

#msgBox p
{
    font-size: 1.5em;
    text-align: center;
}

#msgBox button
{
    width: 50%;
    font-size: 1em;
    margin: 2em auto;
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.theBack{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.theBack img{
    max-width: 100%;
}

/*td img[alt="reverse"]:hover
{
    transition: 0.2s ease-in-out;
    transform: rotateY(-45deg);
}*/

#character1
{
    left: 0;
    background-image: url('../images/tommu.png');
}

#character2
{
    left: 100%;
    transform: translate(-100%,0);
    background-image: url('../images/freya.png');
}

.app
{
    height: auto;
    min-height: 95vh;
}

@media only screen and (orientation: portrait)
{
    #character1, #character2
    {
        width:0;
    }

    .app{
        width: 100%;
    }

    header
    {
        left: 0;
        width: 100%;
    }

}

@media only screen and (max-width: 600px) {
    #games, #profiles
    {
        width: 100%;
        left: 0;
    }
    #character1, #character2
    {
        width:0;
    }

}

@media only screen and (max-height: 600px) and (orientation: landscape) {
    
    #games a
    {
        font-size: 1em;
    }
    
    h1
    {
        font-size: 2em;
    }

    #games
    {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    #profiles
    {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

}