*{
    padding: 0;
    margin: 0;
}

body{
    max-width: 700px;
    margin: 0 auto;
}
header main footer{
    width: 100%;
}

p, #turnos{
    height: 1.5rem;
}


table{
    background-image: url("../images/fondo.jpg");
    border-collapse: collapse;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 560px;
}

tbody{
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

td{
    border: none;
    padding: 5px 0px;
    text-align: center;
    perspective: 700px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100px;
}

.theCard{
    overflow: visible;
    border-radius: .5rem;
    border: .7rem double white;
    width: 70px;
    height: 110px;
    transform-style: preserve-3d;
    -webkit-transition: all 0.7s ease-in-out;
    -webkit-transform-style: preserve-3d;    /* Safari 4-8 */
    transition: all 0.7s ease-in-out;
    box-shadow: rgba(12, 12, 12, 0.13) 3px 3px 3px;
}
    
.theFront, .theBack{
    width: 70px;
    height: 110px;
}

.theFront{
    background-color:#ff7eb3;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.theBack{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.theBack img{
    max-width: 90%;
}

/*td img[alt="reverse"]:hover
{
    transition: 0.2s ease-in-out;
    transform: rotateY(-45deg);
}*/

.find1
{
    /* filter: invert(1); */
    border-color: greenyellow;
}

.find2
{
    /* filter: sepia(1); */
    border-color: lightskyblue;
}