/*font-family: 'Rajdhani', sans-serif;*/
@font-face {
    font-family: "BlackOpsOne";
    src: url("../../../fonts/BlackOpsOne-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NotoSerif";
    src: url("../../../fonts/NotoSerif-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NotoSerif";
    src: url("../../../fonts/NotoSerif-Regular.ttf");
    font-weight: bold;
    font-style: normal;
}

body
{
    font-family: NotoSerif;
}

.texture
{
    background-image: url("../../../img/background.png");
    background-position: center;
    width: 100vw;
    height: 100vh;
    z-index: -999;
    position: fixed;
    top: 0;
    left: 0;
}

*
{
    margin: 0;
    padding: 0;
}

header
{
    height: 10vh;
    color: white;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.6);
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

main
{
    display: flex;
    flex-wrap: wrap;
}

#character1, #character2
{
    width: 15%;
    position: absolute;
    top: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#character1
{
    left: 0;
    background-image: url('../images/volt.png');
}

#character2
{
    left: 100%;
    transform: translate(-100%,0);
    background-image: url('../images/nina.png');
}


.none
{
    display: none;  
}

#msgBox, #winner
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}

#msgBox div, #winner div
{
    top: 43%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: #fafafa;
}

#winner div{
    width: 50%;
    height: 50%;
    color: white;
    background-size: cover;
}

#winner button{
    margin: 0;
    position: absolute;
    bottom: 4em;
    transform: inherit;
    /*font-size: 0.5em;*/
}

#winner button:last-child
{
    bottom: 0em;
   /* font-size: 1em;*/
}

#winner div p{
    font-size: 40px;
}

img:active
{
    opacity: 0.5;
}

.app
{
    background-color: rgba(255,255,255,0.6);
    width: 70%;
    margin: 0 auto;
    height: 90vh;
}

#game{
    margin: 0 auto;
    text-align: center;
}

#game h1{
    font-size: 100px;
    color: #4c4c4c;
    margin-top: 0.5em;
}

table{
    margin: 0 auto;
    border-collapse: collapse;
    margin: 0 auto;
}

tr{
    width: 100%;
    height: 100%;
}

td
{
    cursor: pointer;
    width: 7vw;
    height: 7vw;
    border: 5px;
    padding: 0.8em;
    border-style: groove;
    border-color: brown;
}

img[alt="back"]
{
    width: 10vh;
}

#msgBox div{
    padding: 2em;
}

#msgBox h3{
    font-size: 30px;
    margin-top: 0;
}

#msgBox p{
    font-size: 19px;
}

button {
    background-color: rgba(0,0,0,0.4);
    color: white;
    font-size: 20px;
    border: none;
    padding: 0.8em 0.5em;
    margin: 0 0.8em;
    cursor: pointer;
    border-width: 5px;
    border-style: groove;
    border-color: brown;
}

button:hover{
    background-color: rgba(0,0,0,0.8);
}


#startButton{
    margin: 0;
}

#players{
    font-size: 25px;
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
}
address{
    text-align: center;
    font-size: 1.2em;
    margin: 0 auto;
}

a img
{
    width: 2em;
    color: brown;
}

img{
    padding: 0;
    margin: 0;
    max-width: 100%;
}

#handPlayer{
    position: absolute;
    width: 1.5em;
    left: -50px;
    transition: 1s ease-in-out;
}

.pointing1{
    top: 5px;
}

.pointing2{
    top: 40px;
    filter: hue-rotate(155deg);
}

.pointingActive:hover
{
    background-color: rgba(0, 0, 0, 0.04);
}

.dontClick
{
    cursor: not-allowed;
}

.cellWinner1
{
    background-color: #d1ccff;
}

.cellWinner2
{
    background-color: #ffcccc;
}

span{
    padding-left: 1em;
    font-weight: bold;
}

@media only screen and (orientation: portrait)
{
    
    #character1, #character2
    {
        width:0;
    }

    header
    {
        width: 100%;
    }
    .app{
        width: 100vw;
    }

}

@media only screen and (max-width: 600px) {
    
    #games, #profiles
    {
        padding: 1em;
    }
    

    #games a
    {
        width: 45%;
    }

    #games a:last-child
    {
        margin-top: 1em;
    }

    td
    {
        width: 22vw;
        height: 22vw;
        padding: 0.8em;
    }

    img[alt="back"]
    {
        position: fixed;
        top: 0;
        left: 0;
    }
}

@media only screen and (max-height: 600px) and (orientation: landscape) {
    
    #games a
    {
        font-size: 1em;
    }
    
    h1
    {
        font-size: 1.5em;
    }

    #games
    {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    #profiles
    {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }


}