*
{
    margin: 0;
    padding: 0;
}

header
{
    height: 10vh;
    color: white;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.6);
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

main
{
    display: flex;
    flex-wrap: wrap;
}

#character1, #character2
{
    width: 15%;
    position: absolute;
    top: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#character1
{
    transform: rotateY(180deg);
    left: 0;
    background-image: url('../images/volt.png');
}

#character2
{
    left: 100%;
    transform: translate(-100%,0);
    background-image: url('../images/nina.png');
}

.none
{
    display: none;  
}

#msgBox, #winner
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

#msgBox div, #winner div
{
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    color: white;
}

#msgBox div
{
    padding: 2em;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#msgBox p, #msgBox h3, #msgBox h4
{
    width: 100%;
    display: block;
}

#msgBox h3, #msgBox h4
{
    text-align: center;
}


#msgBox button
{
    margin: 1em;
}

#winner div{
    width: 50%;
    height: 50%;
    color: white;
    background-size: cover;
}

#winner button{
    margin: 0;
    position: absolute;
    bottom: 4em;
    transform: inherit;
    /*font-size: 0.5em;*/
}

#winner button:last-child
{
    bottom: 0em;
   /* font-size: 1em;*/
}

#winner div p{
    font-size: 40px;
}

img:active[alt="mark X"]
{ 
    filter: drop-shadow(0px 0px 3px red) brightness(5);
}

img:active[alt="mark O"]
{ 
    filter: drop-shadow(0px 0px 3px rgb(75, 75, 255)) brightness(1.2)
}

.app
{
    background-color: rgba(255,255,255,0.6);
    width: 70%;
    margin: 0 auto;
    height: 90vh;
}

#game{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

h1{
    font-size: 2.5em;
    color: black;
}

table{
    margin: 0 auto;
    border-collapse: collapse;
    margin: 0 auto;
}

tr{
    width: 100%;
    height: 100%;
}

td
{
    cursor: pointer;
    width: 7vw;
    height: 7vw;
    border: 5px;
    padding: 0.8em;
    border-style: groove;
    border-color: brown;
}

img[alt="back"]
{
    width: 10vh;
    position: absolute;
    top: 0;
}

#msgBox h3{
    font-size: 1.5em;
    margin-top: 0;
}

#msgBox p{
    font-size: 1.1em;
    margin: 0.3em 0;
}

button {
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-width: 5px;
    border-style: groove;
    border-color: brown;
    background-color: #640505;
    color: white;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
    border-radius: 5px;
    font-size: 1em;
    padding: 0.5em 0.2em !important;
    margin: 0.3em 0;
    width: 90%;
}



#startButton{
    margin: 0;
}

#players{
    font-size: 25px;
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
}
address{
    text-align: center;
    font-size: 1.2em;
    margin: 0 auto;
}

a img
{
    width: 2em;
    color: brown;
}

img{
    padding: 0;
    margin: 0;
    max-width: 100%;
    display: flex;
}

#handPlayer{
    position: absolute;
    width: 1.5em;
    left: -50px;
    transition: 1s ease-in-out;
}

.pointing1{
    top: 5px;
}

.pointing2{
    top: 40px;
    filter: hue-rotate(155deg);
}

.pointingActive:hover
{
    background-color: rgba(255, 255, 255, 0.2);
}

.dontClick
{
    cursor: not-allowed;
}

.cellWinner1 img
{
    animation-name: markX;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes markX
{
    0%
    {
        filter: drop-shadow(0px 0px 5px rgba(255,0,0,1)) brightness(1);
    }

    50%
    {
        filter: drop-shadow(0px 0px 2px rgba(255,0,0,1)) brightness(0.5);
    }

    100%
    {
        filter: drop-shadow(0px 0px 5px rgba(255,0,0,1)) brightness(1);   
    }
}

.cellWinner2 img
{
    animation-name: markO;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes markO
{
    0%
    {
        filter: drop-shadow(0px 0px 5px rgba(0,0,255,1)) brightness(1);
    }

    50%
    {
        filter: drop-shadow(0px 0px 2px rgba(0,0,255,1)) brightness(1.5);
    }

    100%
    {
        filter: drop-shadow(0px 0px 5px rgba(0,0,255,1)) brightness(1);   
    }
}

span{
    padding-left: 1em;
    font-weight: bold;
}

#displayInfo
{
    font-size: 1.3em;
}

@media only screen and (orientation: portrait)
{
    
    #character1, #character2
    {
        width:0;
    }

    header
    {
        width: 100%;
    }
    .app{
        width: 100vw;
    }

    td
    {
        width: 22vw;
        height: 22vw;
        padding: 0.8em;
    }

    #ttt
    {
        margin: 0 auto;
    }

    #displayInfo
    {
        margin: 0 auto;
        font-size: 1em;
    }

}

@media only screen and (max-height: 600px) and (orientation: landscape) {
    
    h1
    {
        font-size: 1.5em;
    }

    #profiles
    {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    #ttt
    {
        width: 60%;
    }

    #displayInfo
    {
        width: 40%;
    }

    button
    {
        font-size: 1em;
    }

    td
    {
        width: 8vw;
    }

}