/*font-family: 'Rajdhani', sans-serif;*/
@font-face {
    font-family: "BlackOpsOne";
    src: url("../../../fonts/BlackOpsOne-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NotoSerif";
    src: url("../../../fonts/NotoSerif-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NotoSerif";
    src: url("../../../fonts/NotoSerif-Regular.ttf");
    font-weight: bold;
    font-style: normal;
}

.texture
{
    background-image: url("../../../img/texture.png");
    font-family: NotoSerif;
}



*
{
    margin: 0;
    padding: 0;
}

main
{
    display: flex;
    flex-wrap: wrap;
}

#character1, #character2
{
    width: 15%;
    position: absolute;
    top: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#character1
{
    left: 0;
    background-image: url('../images/volt.png');
}

#character2
{
    left: 100%;
    transform: translate(-100%,0);
    background-image: url('../images/nina.png');
}


.none
{
    display: none;  
}

#msgBox, #winner
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}

#msgBox div, #winner div
{
    top: 43%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: #fafafa;
}

#winner div{
    width: 50%;
    height: 50%;
    color: white;
    background-size: cover;
}

#winner button{
    margin: 0;
    position: absolute;
    bottom: 4em;
    transform: inherit;
    /*font-size: 0.5em;*/
}

#winner button:last-child
{
    bottom: 0em;
   /* font-size: 1em;*/
}

#winner div p{
    font-size: 40px;
}

img:active
{
    opacity: 0.5;
}

#content
{
    background-color: rgba(255,255,255,0.6);
    width: 70%;
    margin: 0 auto;
    height: 95vh;
}

#game{
    text-align: center;
}

#game h1{
    font-size: 100px;
    color: #4c4c4c;
    margin-top: 0.5em;
}

table{
    margin: 0 auto;
    border-collapse: collapse;
    margin: 0 auto;
}

td
{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 5px;
    padding: 0.8em;
    border-style: groove;
    border-color: brown;
}


#msgBox div{
    padding: 2em;
}

#msgBox h3{
    font-size: 30px;
    margin-top: 0;
}

#msgBox p{
    font-size: 19px;
}

button {
    background-color: #1eaba7;
    color: white;
    font-size: 20px;
    border: none;
    padding: 0.7em;
    border-radius: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    font-weight: bold;
    cursor: pointer;
    filter: drop-shadow(1px 1px 3px #444);
}

button:hover{
    background-color: #27d2cd;
}


#startButton{
    margin: 0;
}

#players{
    font-size: 25px;
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
}

footer
{
    background-color: rgba(255,255,255,0.6);
    height: 5vh;
    width: 70%;
    margin: 0 auto;
}

address{
    text-align: center;
    font-size: 1.2em;
}

a img
{
    width: 2em;
    color: brown;
}

img{
    padding: 0;
    margin: 0;
    max-width: 100%;
}

#handPlayer{
    position: absolute;
    width: 1.5em;
    left: -50px;
    transition: 1s ease-in-out;
}

.pointing1{
    top: 5px;
}

.pointing2{
    top: 40px;
    filter: hue-rotate(155deg);
}

.pointingActive:hover
{
    background-color: rgba(0, 0, 0, 0.04);
}

.dontClick
{
    cursor: not-allowed;
}

.cellWinner1
{
    background-color: #d1ccff;
}

.cellWinner2
{
    background-color: #ffcccc;
}

span{
    padding-left: 1em;
    font-weight: bold;
}

#btns button:last-child
{
    background-color: rgb(227, 52, 52);
}

#btns button:last-child:hover
{
    background-color: rgb(255, 87, 87);
}

#msgBox button:first-of-type
{
    filter: drop-shadow(1px 1px 3px #444);
    background-color: rgb(227, 52, 52);
}

#msgBox button:first-of-type:hover{
    background-color: rgb(255, 87, 87);
}