*
{
    padding: 0;
    margin: 0;
}

main
{
    height: 95% !important;
}

#character1
{
    background-image: url('../img/johan.png');
    left: 0;
}

#character2
{
    background-image: url('../img/lefara.png');
    left: 100%;
    transform: translate(-100%,0);
}

header
{
    height: 5vh;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255,255,255,0.6);
}

#game
{
    position: relative;
}

#maze
{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

#jigsaw
{
    background-color: black;
    background-size: cover;
    margin: 0 auto;
    position: initial;
    width: 600px;
    height: 600px;
}


table
{
    transition: 0.4s ease-in;
    position: absolute;
    top: 0px;
    left: 0px;
    border-collapse: collapse;
}

.character
{
    position: absolute;
    z-index: 1;
}

#shadow_character
{
    border-radius: 100%;
    position: relative;
    background-color: black;
    filter:blur(3px) !important;
    opacity: 0.8;
    margin: initial !important;
}

.pieces
{
    background-image: url(../img/piece.png);
}

.piece
{
    border: rgba(180,0,0,0.5) 5px groove;
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.selected
{
    filter: drop-shadow(0 0 1em yellow);
}

.guide_img
{
    position: absolute;
    top: 2%;
    left: 50%;
    width: 600px;
    height: 600px;
    transform: translate(-50%, 0);
    opacity: 0;
    display: none;
}

.piece img
{
    position: absolute;
    width: 600px;
    height: 600px;
    top: 0;
    left: 0;
}

#msgBox
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    z-index: 2;
    width: 100%;
    height: 100%;
}

#msgBoxInfo
{
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1em;
}

#msgBoxInfo *
{
    margin: 0.5em 0;
}

#msgBoxInfo button
{
    font-size: 1em;
    width: 100%;
}

.full
{
    max-width: 100%;
}

#msgBoxInfo figure
{
    display: flex;
    align-items: center;
}

#msgBoxInfo img
{
    max-width: 100px;
}

.border_red
{
    border: rgba(180,0,0,0.5) 5px groove;
}

.grabPieces
{
    animation-name: grabpieces;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(1, 0, 1);
    animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -o-animation-timing-function: cubic-bezier(1, 0, 1);
    -o-animation-name: grabpieces;
    -o-animation-iteration-count: 1;
    -moz-animation-timing-function: cubic-bezier(1, 0, 1);
    -moz-animation-iteration-count: 1;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: grabpieces;
    -webkit-animation-timing-function: cubic-bezier(1, 0, 1);
    -webkit-animation-name: grabpieces;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}

@keyframes grabpieces{
    0%
    {
        filter: drop-shadow(0px 0px 0px #fff486);
        -webkit-filter: drop-shadow(0px 0px 0px #fff486);
        -moz-filter: drop-shadow(0px 0px 0px #fff486); 
    }

    50% 
    {
        filter: drop-shadow(0px 0px 10px #fff486);
        -webkit-filter: drop-shadow(0px 0px 10px #fff486);
        -moz-filter: drop-shadow(0px 0px 10px #fff486); 
    }

    100%
    {
        filter: drop-shadow(0px 0px 0px #fff486);
        -webkit-filter: drop-shadow(0px 0px 0px #fff486);
        -moz-filter: drop-shadow(0px 0px 0px #fff486); 
    }
}

.doNotPass
{
    background-image: url(../img/dontpass.png);
}

.passThrough
{
    background-image: url(../img/floor.png);
}

.start_position_player
{
    background-image: url(../img/initial.png);
}

td, .start_position_player, .pieces
{
    background-size: contain;
}

#contentPieces .piece
{
    display: inline-block;
}

.nameCatch
{
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%,0);
    color: white;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 0px 0px 5px black;
}

.namePuzzle
{
    position: fixed;
    left: 25%;
    top: 5%;
    transform: translate(-50%,0);
    color: white;
    font-size: 1.5em;
    text-align: center;
}

h1
{
    text-align: center;
    display: inline;
}

.buttonTap
{
    display: none;
    z-index: 1;
    position: fixed;
}

.buttonTap button
{
    background-color: rgba(255,0,0,0.5);
    color: black;
    font-size: 1em;
    font-weight: bolder;
    font-family: fantasy;
    padding: 15px;
    border: rgba(180,0,0,0.8) 3px groove;
}

.buttonTap button:hover
{
    transform: none;
}

.buttonTap button:nth-child(1), .buttonTap button:nth-child(4)
{
    transform: translate(0,-50%);
}

.buttonTap button:nth-child(2)
{
    position: absolute;
    left: 33%;
    top: -100%;
}

.buttonTap button:nth-child(2), .buttonTap button:nth-child(3)
{
    padding: 15px 20px;
}

.app
{
    height: 100% !important;
}

#card
{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

#card img
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    position: absolute;
}

.animatedCard
{
    animation-name: card;
    animation-duration: 8s;
    animation-iteration-count: 1;
}

@keyframes card
{
    0%
    {
        transform: scale(1.5) translate(-50%,-50%);
        animation-timing-function: ease-in;
    }

    10%
    {
        transform: scale(0.8) translate(-50%,-50%);
        animation-timing-function: ease-out;
    }

    15%
    {
        transform: scale(1.1) translate(-50%,-50%);
        animation-timing-function: ease-in;
    }

    20%
    {
        transform: scale(0.9) translate(-50%,-50%);
        animation-timing-function: ease-out;
    }

    25%
    {
        filter: drop-shadow(0px 0px 60px yellow);
        transform: scale(1) translate(-50%,-50%); 
    }

    85%
    {
        filter: drop-shadow(0px 0px 40px yellow);
        transform: scale(1) translate(-50%,-50%);
        animation-timing-function: ease-in;
    }

    90%
    {
        filter: drop-shadow(0px 0px 80px yellow);
        animation-timing-function: ease-out;
        transform: scale(1.1) translate(-50%,-50%);
        opacity: 1;
    }

    100%
    {
        filter: drop-shadow(0px 0px 0px yellow);
        transform: scale(0) translate(-50%,-50%);
        opacity: 0;
    }
}

#contentPieces
{
    display: flex;
    left: 50%;
    position: absolute;
    transform: translate(-50%,10%);
}


@media only screen and (max-width: 800px) and (orientation: portrait), screen and (max-height: 800px) and (orientation: landscape)
{
    .buttonTap
    {
        display: flex;
    }

    .app
    {
        height: 100%;
    }

    #contentPieces *
    {
        transition: none;
    }
}

@media only screen and (max-height: 600px) and (orientation: landscape)
{
    #boxButtons0
    {
        left: 1% !important;
        transform: translate(0, -100%);
    }

    #boxButtons1
    {
        left: 99% !important;
        transform: translate(-100%, -100%);
    }

    #msgBoxInfo
    {
        
        width: 80%;
    }

    #msgBoxInfo img
    {
        max-width: 65px;
    }

    main
    {
        height: 100% !important;
    }

    .nameCatch
    {
        top: 10% !important;
        left: 15% !important;
        color: black !important;
    }

    #contentPieces
    {
        position: absolute;
        display: table-column-group;
        top: 5%;
        left: 75%;
        transform: none;
    }
    
    #contentPieces * {
        display: inline-flex;
    }

    div.piece:nth-child(2) 
    {
        vertical-align: middle;
    }

    #jigsaw
    {
        position: relative;
        top: 1em;
    }

    #header
    {
        display: none !important;
    }

    #maze
    {
        top: 1em;
    }
}

@media only screen and (max-height: 800px) and (orientation: landscape)
{
    .nameCatch 
    {
        left: 50%;
        top: 4%;
    }

    #boxButtons0
    {
        left: 5%;
    }

    #boxButtons1
    {
        left: 80%;
    }

}

@media only screen and (max-width: 600px) and (orientation: portrait)
{
    .nameCatch
    {
        top: 85%;
    }
    header
    {
        display: block !important;
    }

    #contentPieces
    {
        width: 80%;
        display: block;
        text-align: center;
    }

    #contentPieces .piece
    {
        vertical-align: middle;
    }

    #boxButtons0
    {
        left: 4% !important;
    }

    #boxButtons1
    {
        left: 53% !important;
    }

    #boxButtons0, #boxButtons1
    {
        top: 65% !important;
    }
}

@media only screen and (max-width: 800px) and (orientation: portrait)
{
    .nameCatch
    {
        left: 50%;
        top: 75%;
    }   

    #boxButtons0
    {
        left: 5%;
    }

    #boxButtons1
    {
        left: 75%;
    }

    #boxButtons0, #boxButtons1
    {
        top: 70%;
    }
}



@media only screen and (orientation: portrait)
{
    .app, header{
        width: 100%;
    }

    .buttonTap
    {
        display: block;
    }

    #msgBoxInfo
    {
        width: 80%;
        background-position: center;
    }

    .win
    {
        height: 35%;
    }

}


@media only screen and (max-width: 375px), screen and (max-height: 375px) and (orientation: landscape)
{
    header
    {
        display: none;
    }

    #maze, #jigsaw
    {
        
        height: 300px;
        width: 300px;
    }

    .piece
    {
        width: 60px;
        height: 60px;
    }

    table
    {
        height: 1200px;
        width: 1200px;
    }

    .character
    {
        width: 60px;
        height: 60px;
        left: 120px;
        top: 120px;
    }

    #shadow_character
    {
        width:30px !important;
        height: 15px !important;
        top: 170px;
        left: 135px;
    }

    #maze
    {
        filter: brightness(1.2);
    }

    h1
    {
        font-size: 1.35em;
    }

}

@media only screen and (min-width: 376px) and (min-height: 376px)
{
    #maze
    {
        height: 375px;
        width: 375px;
    }

    #jigsaw
    {
        height: 350px;
        width: 350px
    }

    .piece
    {
        width: 75px;
        height: 75px;
    }

    table
    {
        height: 1500px;
        width: 1500px;
    }

    .character
    {
        width: 75px;
        height: 75px;
        left: 150px;
        top: 150px;
    }

    #shadow_character
    {
        width:30px !important;
        height: 10px !important;
        top: 215px;
        left: 175px;
    }

}

@media only screen and (min-width: 421px) and (min-height: 421px)
{
    #maze
    {
        width: 420px;
        height: 420px;
    }

    #jigsaw
    {
        width: 400px;
        height: 400px;
    }

    .piece
    {
        width: 84px;
        height: 84px;
    }

    table
    {
        height: 1680px;
        width: 1680px;
    }

    .character
    {
        width: 84px;
        height: 84px;
        left: 168px;
        top: 168px;
    }

    #shadow_character
    {
        width:30px !important;
        height: 10px !important;
        top: 240px;
        left: 195px;
    }
}


@media only screen and (min-width: 630px) and (min-height: 630px)
{
    #maze
    {
        width: 620px;
        height: 620px;
    }

    #jigsaw
    {
        width: 600px;
        height: 600px;
    }

    table
    {
        width: 2480px;
        height: 2480px;
    }

    .character
    {
        width: 124px;
        height: 124px;
        left: 248px;
        top: 248px;
    }

    #shadow_character
    {
        width:60px !important;
        height: 20px !important;
        top: 350px;
        left: 280px;
    }
}

@media only screen and (min-width: 769px) and (min-height: 769px)
{
    #maze
    {
        width: 750px;
        height: 750px;
    }

    table
    {
        width:3000px;
        height: 3000px;
    }

    .character
    {
        width: 150px;
        height: 150px;
        left: 300px;
        top: 300px;
    }

    #shadow_character
    {
        width:60px !important;
        height: 20px !important;
        top: 420px;
        left: 345px;
    }
}


@media only screen and (orientation: landscape) and (max-width: 1023px)
{
    #character1, #character2
    {
        display: none;
    }

    .app, header
    {
        width: 100%;
    }
}

.blackScreen
{
    transition: 1s;
    background-color: black;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 100%;
}


#texture
{
    background-image: url(../img/texture.gif);
}

img[alt="back"]
{
    z-index: 1;
}

.buttonJigsaw
{
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    border-radius: 0;
    font-size: 1.2em;
    padding: 1.5em;
}

.buttonJigsaw:hover
{
    transform: none;
    background-color: rgba(0,0,0,0.8);
}
