*
{
    padding: 0;
    margin: 0;
}

#character1
{
    background-image: url('../img/johan.png');
    left: 0;
}

#character2
{
    background-image: url('../img/lefara.png');
    left: 100%;
    transform: translate(-100%,0);
}

header
{
    height: 5vh;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255,255,255,0.6);
}

.app
{
    width: 70%;
    height: 95vh;
    margin: 0 auto;
}

#game
{
    position: relative;
}

#maze
{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

#jigsaw
{
    background-color: black;
    background-size: cover;
    margin: 0 auto;
    position: initial;
    width: 600px;
    height: 600px;
}


table
{
    transition: 0.4s ease-in;
    position: absolute;
    top: 0px;
    left: 0px;
    border-collapse: collapse;
}

.character
{
    position: absolute;
    z-index: 1;
}

#shadow_character
{
    border-radius: 100%;
    position: relative;
    background-color: black;
    filter:blur(3px) !important;
    opacity: 0.8;
    margin: initial !important;
}

.pieces
{
    background-image: url(../img/piece.png);
}

.piece
{
    border: rgba(180,0,0,0.5) 5px groove;
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.selected
{
    filter: drop-shadow(0 0 1em yellow);
}

.piece img
{
    position: absolute;
    width: 600px;
    height: 600px;
    top: 0;
    left: 0;
}



.grabPieces
{
    animation-name: grabpieces;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(1, 0, 1);
    animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -o-animation-timing-function: cubic-bezier(1, 0, 1);
    -o-animation-name: grabpieces;
    -o-animation-iteration-count: 1;
    -moz-animation-timing-function: cubic-bezier(1, 0, 1);
    -moz-animation-iteration-count: 1;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: grabpieces;
    -webkit-animation-timing-function: cubic-bezier(1, 0, 1);
    -webkit-animation-name: grabpieces;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}

@keyframes grabpieces{
    0%
    {
        filter: drop-shadow(0px 0px 0px #fff486);
        -webkit-filter: drop-shadow(0px 0px 0px #fff486);
        -moz-filter: drop-shadow(0px 0px 0px #fff486); 
    }

    50% 
    {
        filter: drop-shadow(0px 0px 10px #fff486);
        -webkit-filter: drop-shadow(0px 0px 10px #fff486);
        -moz-filter: drop-shadow(0px 0px 10px #fff486); 
    }

    100%
    {
        filter: drop-shadow(0px 0px 0px #fff486);
        -webkit-filter: drop-shadow(0px 0px 0px #fff486);
        -moz-filter: drop-shadow(0px 0px 0px #fff486); 
    }
}

.doNotPass
{
    background-image: url(../img/dontpass.png);
}

.passThrough
{
    background-image: url(../img/floor.png);
}

.start_position_player
{
    background-image: url(../img/initial.png);
}

td, .start_position_player, .pieces
{
    background-size: contain;
}

#contentPieces .piece
{
    display: inline-block;
}


@media only screen and (max-width: 375px), screen and (max-height: 375px) and (orientation: landscape)
{
    #maze
    {
        
        height: 300px;
        width: 300px;
    }

    table
    {
        height: 1200px;
        width: 1200px;
    }

    .character
    {
        width: 60px;
        height: 60px;
        left: 120px;
        top: 120px;
    }

    #shadow_character
    {
        width:30px !important;
        height: 15px !important;
        top: 170px;
        left: 135px;
    }

    #maze
    {
        filter: brightness(1.2);
    }

    .buttonTap
    {
        display: block;
    }

    h1
    {
        font-size: 1.35em;
    }

}

@media only screen and (min-width: 376px) and (min-height: 376px)
{
    #maze
    {
        height: 375px;
        width: 375px;
    }

    table
    {
        height: 1500px;
        width: 1500px;
    }

    .character
    {
        width: 75px;
        height: 75px;
        left: 150px;
        top: 150px;
    }

    #shadow_character
    {
        width:30px !important;
        height: 10px !important;
        top: 215px;
        left: 175px;
    }

}

@media only screen and (min-width: 421px) and (min-height: 421px)
{
    #maze
    {
        width: 420px;
        height: 420px;
    }

    table
    {
        height: 1680px;
        width: 1680px;
    }

    .character
    {
        width: 84px;
        height: 84px;
        left: 168px;
        top: 168px;
    }

    #shadow_character
    {
        width:30px !important;
        height: 10px !important;
        top: 240px;
        left: 195px;
    }
}

@media only screen and (min-width: 630px) and (min-height: 630px)
{
    #maze
    {
        width: 620px;
        height: 620px;
    }

    table
    {
        width: 2480px;
        height: 2480px;
    }

    .character
    {
        width: 124px;
        height: 124px;
        left: 248px;
        top: 248px;
    }

    #shadow_character
    {
        width:60px !important;
        height: 20px !important;
        top: 350px;
        left: 280px;
    }
}

@media only screen and (min-width: 769px) and (min-height: 769px)
{
    #maze
    {
        width: 750px;
        height: 750px;
    }

    table
    {
        width:3000px;
        height: 3000px;
    }

    .character
    {
        width: 150px;
        height: 150px;
        left: 300px;
        top: 300px;
    }

    #shadow_character
    {
        width:60px !important;
        height: 20px !important;
        top: 420px;
        left: 345px;
    }
}

@media only screen and (orientation: portrait)
{
    .app, header{
        width: 100%;
    }

    .buttonTap
    {
        display: block;
    }
}

@media only screen and (orientation: landscape) and (max-width: 1023px)
{
    #character1, #character2
    {
        display: none;
    }

    .app, header
    {
        width: 100%;
    }
}

@media only screen and (orientation: landscape) and (max-width: 1076px)
{
    .buttonTap
    {
        display: block;
    }
}

.blackScreen
{
    transition: 1s;
    background-color: black;
    z-index: 10;
    position: absolute !important;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}


#texture
{
    background-image: url(../img/texture.gif);
}

img[alt="back"]
{
    z-index: 1;
}

.buttonJigsaw
{
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    border-radius: 0;
    font-size: 1.2em;
    padding: 1.5em;
}

.buttonJigsaw:hover
{
    transform: none;
    background-color: rgba(0,0,0,0.8);
}
