*
{
    padding: 0;
    margin: 0;
}

#character1
{
    background-image: url('../img/johan.png');
    left: 0;
}

#character2
{
    background-image: url('../img/lefara.png');
    left: 100%;
    transform: translate(-100%,0);
}

header
{
    height: 5vh;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255,255,255,0.6);
}

.app
{
    width: 70%;
    height: 95vh;
    margin: 0 auto;
}

#game div
{
    position: relative;
    height: 500px;
    width: 500px;
    overflow: hidden;
}

table
{
    transition: 0.4s ease-in;
    height: 2000px;
    width: 2000px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-collapse: collapse;
}

#shadow_character
{
    border-radius: 100%;
    width:60px !important;
    height: 20px !important;
    position: relative;
    top: 280px;
    left: 220px;
    background-color: black;
    filter:blur(3px);
    opacity: 0.8;
}

.pieces
{
    background-image: url(../img/piece.png);
}

.grabPieces
{
    animation-name: grabpieces;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(1, 0, 1);
    animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -o-animation-timing-function: cubic-bezier(1, 0, 1);
    -o-animation-name: grabpieces;
    -o-animation-iteration-count: 1;
    -moz-animation-timing-function: cubic-bezier(1, 0, 1);
    -moz-animation-iteration-count: 1;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: grabpieces;
    -webkit-animation-timing-function: cubic-bezier(1, 0, 1);
    -webkit-animation-name: grabpieces;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}

@keyframes grabpieces{
    0%
    {
        filter: drop-shadow(0px 0px 0px #fff486);
        -webkit-filter: drop-shadow(0px 0px 0px #fff486);
        -moz-filter: drop-shadow(0px 0px 0px #fff486); 
    }

    50% 
    {
        filter: drop-shadow(0px 0px 10px #fff486);
        -webkit-filter: drop-shadow(0px 0px 10px #fff486);
        -moz-filter: drop-shadow(0px 0px 10px #fff486); 
    }

    100%
    {
        filter: drop-shadow(0px 0px 0px #fff486);
        -webkit-filter: drop-shadow(0px 0px 0px #fff486);
        -moz-filter: drop-shadow(0px 0px 0px #fff486); 
    }
}

/*td
{
    width: 100px;
    height: 100px;
}*/

.doNotPass
{
    background-image: url(../img/dontpass.png);
}

.passThrough
{
    background-image: url(../img/floor.png);
}

.start_position_player
{
    background-image: url(../img/initial.png);
}

td, .start_position_player, .pieces
{
    background-size: contain;
}


.character
{
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    left: 200px;
    top: 200px;
}

@media only screen and (max-width: 420px)
{

}

@media only screen and (max-width: 768px)
{

}

@media only screen and (max-width: 992px)
{
    
}

@media only screen and (max-width: 1200px)
{
    
}

@media only screen and (min-width: 1201px)
{
    
}

@media only screen and (min-width: 992px)
{

}

@media only screen and (orientation: portrait)
{
    .app, header{
        width: 100%;
    }


}

@media only screen and (max-height: 600px) and (orientation: landscape) {
    
    h1
    {
        font-size: 1.35em;
    }

    button
    {
        padding: 0.5em 2em;
    }
    

}