/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*mi propio CSS*/
.app
{
    text-align: center;
    width: 70%;
    min-height: 100%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.6);
}

#texture
{
    background-image: url(../img/texture.gif);
}

#character1
{
    background-image: url('../img/kylian.png');
    left: 0;
}

#character2
{
    background-image: url('../img/camile.png');
    left: 100%;
    transform: translate(-100%,0);
}

.cordova-camera-capture
{
    background-color: rgba(255,255,255,0.6);
    padding: 2em;
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cordova-camera-capture button
{
    width: 100%;
}


.playerName
{
    display: block;
    font-size: 2em;
}

form
{
    transition: 0.2s;
}

section button
{
    margin: 0 1em;
}

#credits a
{
    color: white;
}

form div
{
    margin: 1em;
}

 form button, form input[type="submit"]
 {
    padding: 0.5em 2em !important;
 }

 form label
 {
     margin: 0.2em 0;
 }

#games, #profiles
{
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
}

#profiles
{
    padding-bottom: 0;
}

h1
{
    font-size: 2.5em;
    padding-top: 0.5em;
}

#games a
{
    width: 32%;
    font-size: 1.5em;
    margin: 0 auto;
    border-width: 5px;
    border-style: groove;
    border-color: brown;
}

#games img
{
    max-width: 100%;
    display: flex;
}

#profiles article
{
    width: 45%;
    background-color: rgba(0,0,0,0.5);
    margin: 0 auto;
    color: white;
}

#profiles
{
    padding-top: 0.5em;
}

#profiles p, #profiles h3, #profiles h4
{
    margin: 0.2em 0;
}

#shadowBox
{
    z-index: 2;
    color: white;
    padding: 2em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.8);
}

#profiles img, #formPlayers img
{
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0.2em auto 1em !important;
}

#player2
{
    margin-bottom: 1em;
}


#credits
{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    background-color: rgba(0,0,0,0.8);
    transform: translate(-50%, -50%);
    width: 70%;
    color: white;
    font-size: 1.3em;
    padding: 2em;
}

#credits p{
    margin:  1em 0;
}


#credits button
{

    margin: 0 auto;
    display: block;
}

#games img
{
    transition: 0.2s linear;
}

#games img:hover
{
    filter: brightness(1.5);
}

#shadowBox img
{
    margin: 0.5em 0;
}

#whichPicture
{
    z-index: 5;
    position: fixed;
    top: 50%;
    left:50%;
    background-color: rgba(0,0,0,0.8);
    color:white;
    transform: translate(-50%,-50%);
}

@media only screen and (min-width: 768px)
{
    #profiles article
    {
        padding: 1em 0.3em;
    }
     
    button
    {
        font-size: 1em;     
    }
}

@media only screen and (min-width: 1367px)
{
    #profiles article
    {
        font-size: 1.3em;
    }
}


@media only screen and (orientation: portrait)
{

    #games, #profiles
    {
        padding: 0.5em;
    }
    
    #profiles article
    {
        padding: 0.3em;
    }
    

    #games a
    {
        width: 45%;
    }

    #games a:last-child
    {
        margin-top: 1em;
    }

    *
    {
        transition: none !important;
    }
}

@media only screen and (orientation: landscape) and (max-height: 600px)
{
    
    .app{
        width: 100%;
    }

    #credits
    {
        font-size: 1.1em;
    }

    #character1, #character2
    {
        width:0;
    }

    #shadowBox
    {
        width: 85%;
        top: 5%;
        position: absolute;
        padding: 1em 2em;
        transform: translate(-50%,0);
    }
    
    #profiles img
    {
        width: 80px;
    }
    
    #games a
    {
        font-size: 1em;
        width: 30%;
    }
    
    h1
    {
        font-size: 1.35em;
    }

    #games
    {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    #profiles
    {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-size: 0.9em;
    }

    button
    {
        padding: 0.5em 2em !important;
    }

}

@media only screen and (orientation: landscape) and (max-height: 800px)
{
    *
    {
        transition: none !important;
    }
}