*{
    padding: 0;
    margin: 0;
}

main
{
    height: 95% !important;
}

p, #turnos{
    height: 1.5em;
}

#texture
{
    background-image: url(../images/texture.gif);
}

#game
{
    background-color: rgba(255,255,255,0.6);
    width: 70%;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 15%;
}

header
{
    height: 5vh;
    text-align: center;
    width: 70%;
    background-color: rgba(255,255,255,0.6);
    position: relative;
    left: 15%;
}

select
{
    margin-top: 5em;
}

table{
    border-collapse: collapse;
}

tbody{
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cardObject{
    border: none;
    padding: 5px 0px;
    text-align: center;
    perspective: 700px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}

.theCard{
    overflow: visible;
    width: 80px;
    height: 127px;
    transform-style: preserve-3d;
    -webkit-transition: all 0.7s ease-in-out;
    -webkit-transform-style: preserve-3d;    /* Safari 4-8 */
    transition: all 0.7s ease-in-out;
}

tr
{
    width: 100%;
    text-align: center;
    display: flex;
    place-content: space-evenly;
}
    
.theFront, .theBack{
    width: 80px;
    height: 127px;
}

.theFront{
    background-image:url(../images/reverse.png);
    background-size: contain;
    backface-visibility: hidden;
}

.find1 .theBack
{
    -webkit-box-shadow: 0px 0px 1px rgba(68, 0, 102, 0.83);
    -moz-box-shadow: 0px 0px 1px rgba(68, 0, 102, 0.83);
    box-shadow: 0px 0px 9px 1px rgba(68, 0, 102, 0.83);
}

.find2 .theBack
{
    -webkit-box-shadow: 0px 0px 9px 1px rgb(0, 255, 90);   
    -moz-box-shadow: 0px 0px 9px 1px rgb(0, 255, 90);  
    box-shadow: 0px 0px 9px 1px rgb(0, 255, 90);
}

#msgBox,  #messageWinner
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}

#msgBox div, #messageWinner div
{
    position: absolute;
    padding: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
}

#messageWinner div
{
    width: 50%;
    height: 50%;
    background-size: cover;
    background-position: center;
    padding: 0;
}

#messageWinner button
{
    position: absolute;
    bottom: 4em;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0);
}

#pWinner
{
    font-size: 2.5em;
    text-align: center;
    filter: drop-shadow(0px 0px 2px black);
}

#msgBox p
{
    font-size: 1.5em;
    text-align: center;
}

#msgBox button
{
    width: 50%;
    font-size: 1em;
    margin: 2em auto;
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.theBack{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.theBack img{
    max-width: 100%;
}

#character1, #character2
{
    position: fixed;
}

#character1
{
    left: 0;
    background-image: url('../images/tommu.png');
}

#character2
{
    left: 100%;
    transform: translate(-100%,0);
    background-image: url('../images/freya.png');
}

.app
{
    min-height: 100%;
}

#cantPlay
{
    display: none;
}

#info
{
    text-align: center;
    font-size: 1.1em;
}

@media only screen and (orientation: portrait)
{
    #character1, #character2
    {
        width:0;
    }

    .app{
        width: 100%;
    }

    header
    {
        left: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 800px) and (orientation:portrait) {
    select
    {
        margin-top: 1em;
    }

    .cardObject
    {
        width: 120px;
    }
}

@media only screen and (max-width: 600px) and (orientation:portrait) {
    #games, #profiles
    {
        width: 100%;
        left: 0;
    }
    #character1, #character2
    {
        width:0;
    }

    .app
    {
        width: 100%;
    }

    .cardObject
    {
        width: 81px;
    }

    #msgBox button
    {
        width: 80%;
    }

    #msgBox p
    {
        height: unset;
    }

    select option:nth-child(4) {
        display: none;
    }
}

@media only screen and (max-height: 800px) and (orientation: landscape) {
    #character1, #character2
    {
        width:0;
    }

    .app
    {
        display: none;
    }

    #cantPlay
    {
        align-items: center;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.8);
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;
    }

    #cantPlay p
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        font-size: 1.5em;
    }

    #cantPlay a
    {
        text-decoration: none;
        font-size: 1.2em;
        width: 80%;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
