@font-face {
    font-family: "BlackOpsOne";
    src: url("../fonts/BlackOpsOne-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

body
{
    font-family: "Lato";
}

h1 
{
    font-family: 'BlackOpsOne';
}


@media only screen and (min-width: 992px)
{

}

input:not([type="submit"])
{
    border-radius: 5px;
    padding: 0.2em;
}

button, input[type="submit"]{
    border-width: 5px;
    border-style: groove;
    border-color: brown;
    background-color: #640505;
    color: white;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
    border-radius: 5px;
    cursor: pointer;
    padding: 0.8em 0.5em;
    transition: 0.25s;
}

button:hover{
    background-color: rgba(0,0,0,0.8);
    transform: scale(1.1);
}


.hidden
{
    display: none !important;
}

#texture
{
    background-image: url("../img/texture.gif");
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-position: center;
    top: 0;
    left: 0;
    z-index: -40;
    animation-name: movingStars;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes movingStars
{
    0%
    {
        background-position-x: 0px;
        background-position-y: 0px;
    }

    100%
    {
        background-position-x: 100px;
        background-position-y: 99px;
    }
}

@media only screen and (orientation: portrait)
{
    .app{
        width: 100%;
    }

    #character1, #character2
    {
        width:0;
    }

}

@media only screen and (max-height: 600px) and (orientation: landscape) {

    button
    {
        padding: 0.5em 2em;
    }

}
